@tailwind base;
@tailwind components;
@tailwind utilities;

.font-inter {
    font-family: 'Inter', sans-serif;
}
.border-1 {
    border-width: 1px;
} 

@font-face {
    font-family: 'Inter';
    src: local('Inter'), url(./fonts/Inter-Regular.ttf) format('ttf');
}


@font-face {
    font-family: 'JetBrainsMono';
    src: local('JetBrainsMono'), url(./fonts/JetBrainsMono-Regular.ttf) format('ttf');
}

@layer components {
    .repository-container {
        @apply w-80 h-52 rounded-xl shadow-sm border-1 border-green-500 mr-10;
    }

    .repository-container p {
        @apply font-inter text-gray-900 text-sm ml-4 mt-2 mr-2;
    }

    .repository-container button {
        @apply bg-green-400 hover:bg-green-500 text-white font-semibold mt-5 ml-4 py-1 px-2 rounded-full absolute;
    }

    .repository-container h1 {
        @apply font-bold font-inter text-lg text-gray-900 ml-4 mt-4;
    }

    .service-grid-element img {
        @apply w-24 h-24 mx-auto p-4;
    }

    .service-grid-element h1 {
        @apply font-inter font-bold mt-2 text-center mb-2;
    }

    .service-grid-element p {
        @apply font-inter text-center text-sm text-gray-800 font-semibold;
    }

    .tool-grid-element img {
        @apply w-12 h-12 mx-auto;
    }

    .tool-grid-element p {
        @apply text-center text-lg font-semibold;
    }
}